ENV="local"
PORT=8080
API_ADMIN_KEY="test123"

# Log
LOG_LEVEL=info

# Frontend
FRONTEND_URL="http://localhost:3000"

# Quadrant
QDRANT_URL=http://127.0.0.1:6333
#QDRANT_API_KEY=planai123            # or leave blank if auth disabled
QDRANT_CONTEXT_COLLECTION=context_files

# Prisma
DATABASE_URL="postgresql://planai:planai123@localhost/planai_db?schema=public"

# Google
FIREBASE_SERVICE_KEY="="
FIREBASE_STORAGE_BUCKET=""

# OpenAI / LLMs
OPENAI_API_KEY="sk-proj-xxxx"
OPENROUTER_API_KEY="sk-or-v1-xxxx"

# Groq
GROQ_API_KEY="gsk_xxxx"

# Deepgram
DEEPGRAM_API_KEY="xxxx"

#GOOGLE_LOGS_SERVICE_KEY=""

# Jira
JIRA_CLIENT_ID=""
JIRA_CLIENT_SECRET=""
JIRA_REDIRECT_URI="http://localhost:8080/api/jira/callback"

# Trello
TRELLO_GLOBAL_API_KEY=""

# Linear
LINEAR_CLIENT_ID=""
LINEAR_CLIENT_SECRET=""
LINEAR_REDIRECT_URI="http://localhost:8080/api/linear/callback"
LINEAR_WEBHOOK_SECRET=""

# GitHub App Integration
GITHUB_APP_ID=""
GITHUB_WEBHOOK_SECRET=""                  # The Webhook Secret
GITHUB_PRIVATE_KEY=""             # Format this by replacing actual newlines with \n so it fits on one line

# Queue
REDIS_URL=redis://localhost:6379
BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=admin

# Google OAuth API (For Google Drive Integration)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8080/api/google/callback"

# Sentry Backend Integration
# SENTRY_DSN=https://0de65f7a318241dec11ea919590f0698@o4511196762734592.ingest.us.sentry.io/4511197640654848
# NODE_ENV=development

RESEND_API_KEY=""

FROM_EMAIL="noreply@plan-ai.blueberrybytes.com"

MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT_ID=""
MICROSOFT_REDIRECT_URI="http://localhost:8080/api/microsoft/callback"
BACKEND_URL=https://your-production-api-url.com   # or http://localhost:8080 for local
APP_URL="https://plan-ai.blueberrybytes.com"

# GitNexus MCP Server
USE_GITNEXUS="false"
GITNEXUS_MCP_URL="http://localhost:4747/api/mcp"

# Voice AI Microservice
VOICE_AI_URL="http://localhost:8001"

# Notion API Connection
NOTION_CLIENT_ID=""
NOTION_CLIENT_SECRET=""
NOTION_REDIRECT_URI="http://localhost:8080/api/notion/callback"
