PORT="3000"
REACT_APP_API_BACKEND_URL="http://localhost:8080"

REACT_APP_ENV="local"

REACT_APP_FIREBASE_API_KEY=""
REACT_APP_FIREBASE_APP_ID=""

REACT_APP_FIREBASE_AUTH_DOMAIN=""
REACT_APP_FIREBASE_MEASUREMENT_ID=""
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=""

REACT_APP_FIREBASE_PROJECT_ID=""
REACT_APP_FIREBASE_STORAGE_BUCKET=""

REACT_APP_ENABLE_REMOTE_LOGS="false"

# Google Drive Picker API
REACT_APP_GOOGLE_CLIENT_ID=""
REACT_APP_GOOGLE_API_KEY=""
REACT_APP_GOOGLE_APP_ID=""
# OneDrive File Picker
REACT_APP_MICROSOFT_CLIENT_ID=""
# Sentry Frontend Integration
# REACT_APP_SENTRY_DSN=https://8ce80dc79b11e97a79295f82e59c41c4@o4511196762734592.ingest.us.sentry.io/4511196763783168
