node_modules
dist
release
dist-electron

.env
.env.production
.env.local
*.env.*

# Certificates and Provisioning Profiles
*.cer
*.certSigningRequest
*.p12
*.provisionprofile
build/*.provisionprofile/*.certSigningRequest

# Apple Developer
*.p8

# Sentry Config File
.env.sentry-build-plugin

# TypeScript build info caching
*.tsbuildinfo
.gitnexus
